wp-config.php
wp-config-sample.php
.git
.idea

/helper
/wp-content/themes/velo-shop/node_modules
/wp-content/themes/velo-shop/resources
/wp-content/themes/velo-shop/gulpfile.js
/wp-content/themes/velo-shop/package.json
/wp-content/themes/velo-shop/package-lock.json
/wp-content/uploads/wc-logs
