wp-config.php
wp-config-sample.php
.git
.idea
license.txt
.gitignore

/helper
/wp-content/themes/velo-shop/node_modules
/wp-content/themes/velo-shop/build
/wp-content/themes/velo-shop/resources
/wp-content/themes/velo-shop/trash
/wp-content/themes/velo-shop/gulpfile.js
/wp-content/themes/velo-shop/package.json
/wp-content/themes/velo-shop/package-lock.json

/wp-content/uploads

/wp-includes
/wp-admin
/wp-content/languages
/wp-content/plugins/akismet
/wp-content/plugins/block-data-attribute
/wp-content/plugins/post-smtp
/wp-content/plugins/sitemap-by-click5
/wp-content/plugins/woocommerce
/wp-content/plugins/wordpress-seo
/wp-content/plugins/index.php